<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>TuResidenciAPP</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout in_page">

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="indexResidente.html"><img src="/static/images/LOGOFINAL.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-10 offset-md-1">
                     <nav class="navigation navbar navbar-expand-md navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" style="margin-left: 12%;" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item"><a class="nav-link" href="/templateIndexResidente">Inicio</a></li>
                                <li class="nav-item active"><a class="nav-link" href="/templateNosotrosResi">Nosotros</a></li>
                                <li class="nav-item"><a class="nav-link" href="/templateReservasResi">Reservas</a></li>
                                <li class="nav-item"><a class="nav-link" href="/templateNotificacionesResi">Notificaciones</a></li>
                                <li class="nav-item"><a class="nav-link" href="/templateContactoResi">Contacto</a></li>
                            </ul>
                        </div>
                    </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!--  service -->
      <div class="service">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 text-center">
                     <div class="titlepage">
                         <h2>QUIENES SOMOS</h2>
                         <p class="subtitle">Conoce más sobre nosotros y nuestra misión</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-10 offset-md-1">
                     <div class="row">
                         <div class="col-md-4 col-sm-6">
                             <div class="service_box">
                                 <img src="/static/images/entrada.jpg" alt="#" class="service_image"/>
                                 <h3>Tacuara Club Residencial</h3>
                                 <p>En los años recientes, hemos tenido el enorme privilegio de cumplir el sueño de más de 500 familias. Nuestro compromiso es ofrecer un lugar donde las familias puedan crecer, disfrutar y crear recuerdos inolvidables. Ubicados en el hermoso Eje Cafetero, específicamente en el municipio de Dosquebradas, nuestra comunidad se ha convertido en un refugio ideal para aquellos que buscan bienestar y felicidad.</p>
                             </div>
                         </div>
                         <div class="col-md-4 col-sm-6">
                             <div class="service_box">
                                 <img src="/static/images/1.jpg" alt="#" class="service_image"/>
                                 <h3>Casa o Apartamento?</h3>
                                 <p>¿Casa o apartamento? La elección ideal depende de tus necesidades y presupuesto. Ofrecemos asesoría personalizada para ayudarte a tomar la mejor decisión. Además, puedes guardar tus opciones favoritas en una lista y compartirlas con tus seres queridos, asegurando que todos estén involucrados en este importante paso.</p>
                             </div>
                         </div>
                         <div class="col-md-4 col-sm-6">
                             <div class="service_box">
                                 <img src="/static/images/planos.jpg" alt="#" class="service_image"/>
                                 <h3>Te Guiamos para Alcanzar tu Sueño</h3>
                                 <p>Sabemos lo que significa para ti lograr tus metas. Por eso, hemos creado un listado de recursos y ayudas disponibles que te permitirán avanzar hacia la realización de tu sueño. Nuestro equipo está aquí para ofrecerte el apoyo que necesitas en cada etapa del proceso.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div class="mission-vision">
               <div class="container">
                   <div class="row">
                       <div class="col-md-6">
                           <div class="info_box">
                               <h3>Misión</h3>
                               <p>En Tacuara Club Residencial, nuestra misión es brindar un entorno seguro y acogedor donde cada familia pueda disfrutar de un espacio propio. Trabajamos incansablemente para crear comunidades vibrantes que fomenten la convivencia y el bienestar. Creemos que cada hogar es un pilar fundamental para el desarrollo personal y familiar.</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="info_box">
                               <h3>Visión</h3>
                               <p>Nuestra visión es ser líderes en el desarrollo de comunidades residenciales en el Eje Cafetero, reconocidos por la calidad de nuestros proyectos y el compromiso con el bienestar de nuestros residentes. Aspiramos a innovar constantemente y a ofrecer soluciones habitacionales que superen las expectativas de nuestros clientes.</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </div>
      </div>
      <!-- end service -->

      <div class="floating-button">
        <img src="/static/images/pse.png" class="btn-pse" alt="pse" >
    </div>

      <footer>
      <div class="copyright">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <p>© <span id="year"></span> All Rights Reserved. Design by <a> Tu ResidenciAPP </a></p>
               </div>
            </div>
         </div>
      </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script>
        // Obtener el año actual
        document.getElementById("year").textContent = new Date().getFullYear();
     </script>
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>