<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>TuResidenciAPP</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout in_page">

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="indexAdmin.html"><img src="/static/images/LOGOFINAL.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!--  service -->
      
             <div class="mission-vision">
               <div class="container">
                   <div class="row">
                    <div class="col-md-6">
                        <div class="info_box">
                            <h3>Tu ResidenciAPP</h3>
                            <p>es una plataforma web diseñada para optimizar la comunicación y organización en propiedades horizontales. Ofrece herramientas como herramientas administrativas, notificaciones, gestión de incidencias y un calendario de eventos, todo en un entorno intuitivo y accesible. La plataforma busca facilitar la interacción entre administradores, residentes y propietarios, promoviendo una convivencia más eficiente y ordenada.</p>
                        </div>
                    </div>
                       <div class="col-md-6">
                           <div class="info_box">
                               <h3>Misión</h3>
                               <p>Facilitar la interacción entre administradores, residentes y propietarios mediante herramientas digitales intuitivas que optimicen la comunicación, simplifiquen la gestión de incidencias y eventos, y mejoren la calidad de vida en las propiedades horizontales..</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                           <div class="info_box">
                               <h3>Visión</h3>
                               <p>Ser la solución tecnológica en la administración y comunicación de conjuntos residenciales, promoviendo una convivencia organizada, eficiente y armoniosa en comunidades modernas.</p>
                           </div>
                       </div>
                       <div class="col-md-6">
                        <div class="info_box">
                            <h3>Grupo de trabajo</h3>
                           <p> Juan Pablo Amariles Lopez</p>
                           <p> Federico López Londoño</p>
                           <p> Karol Osorio</p>
                        </div>
                    </div>
                   </div>
               </div>
           </div>
        
      <!-- end service -->

      <footer>
         <div class="copyright">
             <div class="container">
                 <div class="row align-items-center mr-5">
                     <div class="col-md-8 text-left">
                         <p style="font-weight: 600;">
                             Copyright © <span id="year"></span> Todos los derechos reservados | Tu ResidenciAPP
                         </p>
                     </div>
                     <div class="col-md-4 text-right mt-4">
                         <a href="/templatePoliticaDatos" style="font-weight: 600;">
                             Política de Tratamiento de Datos
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script>
        // Obtener el año actual
        document.getElementById("year").textContent = new Date().getFullYear();
     </script>
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>